<!-- login.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <ion-img src="assets/logo.png"></ion-img> <!-- Adicione um logo se tiver -->
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" class="ion-margin-top" color="dark">Entrar</ion-button>
    </form>
  </div>
</ion-content>
