<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="books" href="/tabs/books">
      <i aria-hidden="true" class="fas fa-book-reader fa-icon"></i>
      <ion-label>Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <i aria-hidden="true" class="fas fa-history fa-icon"></i>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <i aria-hidden="true" class="fas fa-user fa-icon"></i>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
