ion-content {
  ion-list {
    ion-item {
      --border-color: var(--ion-color-medium);
      --background: var(--ion-item-background, #ffffff);
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-light);
  }
}
